{% extends "base.html" %}

{% block content %}
        <h3>{{ member.name }}</h3>
        <table>
          <thead>
            <th>当前rp</th>
            <th>奖励rp</th>
            <th>花费rp</th>
            <th>四周出勤</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ member.balance|rp }} (<b>{{ member.usable|rp }}</b>可用)</td>
              <td>{{ member.earned|rp }}</td>
              <td>{{ member.spent|rp }}</td>
              <td>{{ member.attendance }}% <a href="/member/{{member.name}}/attd">详情</a></td>
            </tr>
          </tbody>
        </table>            
        <h4>最近10次活动<span style="float:right;"><a href="/member/{{member.name}}/raids">显示全部</a></span></h4>
        <table>
          <thead>
            <th>日期</th>
            <th>活动</th>
            <th>奖励rp</th>
            <th>注释</th>
          </thead>
          <tbody>
            {% for encounter in raids %}
            <tr>
              <td>{{ encounter.datetime }}</td>
              <td><a href="/raid/{{ encounter.key }}">{{ encounter.event.name }}</a></td>
              <td>{{ encounter.pt|rp }}</td>
              <td>{{ encounter.note }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h4>最近5件战利品<span style="float:right;"><a href="/member/{{member.name}}/loots">显示全部</a></span></h4>
        <table>
          <thead>
            <th>日期</th>
            <th>物品</th>
            <th>活动</th>
            <th>花费rp</th>
          </thead>
          <tbody>
            {% for loot in loots %}
            <tr>
            <td>{{ loot.datetime }}</td>
            <td>
              {% if loot.item.gid %}
              <a href="http://db.duowan.com/wow/item-{{ loot.item.gid }}.html">{{ loot.item.name }}</a>
              {% else %}
              {{ loot.item.name }}
              {% endif %}
            </td>
            <td>{{ loot.encounter.event.name }}</td>
            <td>{{ loot.cost|rp }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h4>个人调整</h4>
        <table>
          <thead>
            <th>日期</th>
            <th>理由</th>
            <th>rp</th>
          </thead>
          <tbody>
            {% for adjustment in member.adjustment_set %}
            <tr>
            <td>{{ adjustment.datetime|date:"Y.m.d" }}</td>
            <td>{{ adjustment.reason }}</td>
            <td>{{ adjustment.pt|rp }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}